
:root{
  --flow : repeat(2,1fr);
  --theme :  #F6094D;
}
@media (max-width: 600px){
  :root{
    --flow: 1fr;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}
header h1{
  background: var(--theme);
  padding: 1rem 0;
  margin: 0;
  width:100%;
}

.container{
  display: grid;
  grid-template-columns: var(--flow);
  padding: 1.5rem;
  gap: 20px;
  margin: 2rem 0;
}
.images{
  box-shadow: 5px 5px 15px rgba(0,0,0,0.20),
              -5px -5px 15px rgba(0,0,0,0.20);
  border-radius:15px;
  padding:20px;
  text-align:center;
}
.container .images h5 {
  text-align: center;
  padding: 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid var(--theme);
}

.note {
  background: grey;
  width: max-content;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 1rem auto;
  color: white;
}

footer{
      width: 100%;
      text-align: center;
    } 
footer h2{
      background: var(--theme);
      font-size: 22px;
      width:100%;
      padding: 1rem 0;
      transition: all 300ms ease-out; 
}
 footer a{
      text-decoration: none;
      color: white; 
}
footer h2 a:hover{
 opacity: 0.7;
}