
:root{
  --flow : repeat(2,435px);
  --theme :  #F6094D;
  --text: 18px;
}
@media (max-width: 600px){
  :root{
    --flow: 320px;
    --text: 14px;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}
header h1{
  background: #F51C72;
  padding: 1rem 0;
  margin: 0;
  width:100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
.container{
  display: grid;
  grid-template-columns: var(--flow);
  -webkit-grid-template-columns: var(--flow);
  grid-gap: 20px;
  width: max-content;
  margin: 2rem 0;
}
.images{
  box-shadow: 5px 5px 15px rgba(0,0,0,0.20),
              -5px -5px 15px rgba(0,0,0,0.20);
  border-radius:15px;
  padding:15px;
  text-align:center;
}
.images img{
  width: 100%;
}
.container .images p {
  font-size: var(--text);
  text-align: center;
  padding: 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--theme);
}
.download {
  background: var(--theme);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  margin: 1rem 0 0 0;
  display: block;
  letter-spacing: 4px;
  font-size: calc(var(--text) - 1px);
}

.download:hover,
.download:focus,
.download:active,
#note:active{
  opacity: 0.7;
}

#note {
  background: #7F7F83;
  width: max-content;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 1rem auto;
  color: white;
}
footer{
      width: 100%;
      text-align: center;
    } 
footer h2{
      background: #42445A;
      width:100%;
      padding: 1rem 0;
      transition: all 300ms ease-out; 
}
 footer a{
      text-decoration: none;
      color: white; 
}
footer h2 a:hover{
 opacity: 0.7;
}
